version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: order_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: execution_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: order_redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes # Persist data

volumes:
  pgdata: